<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tech & Fun Project </title>
  	<meta name="title" content="Data Warehouse Acámica Project" />
  	<meta name="description" content="Data Warehouse Acámica Project" />

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

  	<link rel="icon" sizes="32x32" href="../assets/tech_fun_favico.png" type="image/svg+xml" />


<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../styles/util.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Sistema de Gestión de Ventas <br />Tech & Fun
					</span>
				

					<div class="validate-input" >
						Bienvenido
					</div>
					
				
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<img class="google_logo" src="../assets/google-logo-white.png" /> Ingresa con tu cuenta de Google
						</button>
					</div>

					<div class="footer">
						<img class="footer_logo" src="../assets/tech_fun_horizontal_300.png" />

					</div>
				</div>
			</div>
		</div>
	</div>
	
	


</body>
</html>