<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/estilos.css">
  </head>

<body>
  <!--Header-->
  <div class="header">
    <img src="../assets/tech_fun_horizontal_300.png" alt="logo" class="imagenes">
    <h1>Sistema de Gestión de Productos</h1>
  </div>
  <!--Barra de navegación-->
  <ul>
    <li class="active">Registro</li>
    <li><a href="#listar">Listar</a></li>
  </ul>
  <!--Formulario de Registro de Producto-->
  <!--Identificador único (Inmutable), descripción, valor unitario y estado (disponible, no disponible)-->
  
  <div class="row">
  <div class="column">
    <form action="/productos_page.php">
      <label for="id">Identificador</label>
      <br>
      <input type="text" id="id" placeholder="identificador único del producto...">
      <br>
      <label for="descripción">Descripción</label>
      <br>
      <input type="text" id="descripción" placeholder="descripción breve del producto...">
      <br>
      <label for="valor">Valor</label>
      <br>
      <input type="text" id="valor" placeholder="Valor unitario del producto...">
      <br>
      <label for="estado">Estado</label>
      <br>
      <select id="estado">
        <option value="Disponible">Disponible</option>
        <option value="No disponible">No disponible</option>
      </select>
      <br>
      <button id="myBtn">Registrar</button>
    </form>
  </div class="column">
  <p>Listado de Productos</p>
  <table>
    <tr>
      <th>No. Producto</th>
      <th>Valor</th>
      <th>Disponibilidad</th>
    </tr>
    <tr>
      <td>Producto #1</td>
      <td>$5.000</td>
      <td>Si</td>
    </tr>
    <tr>
      <td>Producto #2</td>
      <td>$207.000</td>
      <td>Si</td>
    </tr>
    <tr>
      <td>Producto #3</td>
      <td>$24.000</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Producto #4</td>
      <td>$113.000</td>
      <td>Si</td>
    </tr>
    <tr>
      <td>Producto #5</td>
      <td>$48.000</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Producto #6</td>
      <td>$8.000</td>
      <td>No</td>
    </tr>
  </table>
  <div>
  </div>
</div>

<!-- B -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

</body>

</html>
